
body { height: 1200px; margin: 0px; }
#nav{display:block;
     margin: 0px auto;
     padding: 0px;
     height: 30%;
     background: url(../images/pexels-lumn-167699.jpg) no-repeat ;
     background-size: cover;



     }
#con{}
#footer{}