 

 .bodystyle{background: url(../images/0184845cc1d79ca801214168473772.jpg@1280w_1l_2o_100sh.jpg) no-repeat;

           }


.header{
	    
	    margin:40px 0px auto 40px;
	    height: 400px;
	    background-color: #126e82;
	    text-align: center;
	    color: #fff;
	    font: bold 40px/0px 隶书;
	    writing-mode: vertical-lr;
	    float: left;
        }

.header:hover{background-color: #5a191b;
              }

 .container{height: 400px;
	        width: auto;
	        margin: 20px 0px ;
	        display: block;
	        float: left;
             }

 .a {height:400px;
     margin: 30px 0px auto 100px;
     text-align:center;
     display: block;
     float: left;
     text-decoration: none;  
     font: bold 30px/40px 宋体;
     writing-mode: vertical-lr;
     color: black;
     }
 .a:hover{color: #000;
 	font-size:40px;font-family: 宋体; }
 .a:active{color:#fff; }

 .b{
    width: auto;
    text-align:center; 
    margin: 0px 0px 15px;
	display: block;
    text-decoration:none;
    writing-mode:vertical-lr; 
    float:top; 
    color: black ;}
 .b:hover{color:#144a74;
          font-size:30px; }

td{float:right; 
   margin: 0px 3px auto 2px;
   text-align: center;

   }



.bodystyle2{background: url(../images/bac4.jpg) no-repeat;
	        background-size: cover;
            }