* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #b68;
    padding: 0rem 1.8rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #b68;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #b68;
    margin-left: 1.5rem;
}

.iframe-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 2rem 1rem;
}

.video-iframe {
    width: 60%;
    height: 450px;
    border:none;
}

.video-info {
    width: 35%;
    padding-right:3rem;
}

.video-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}

.video-details {
    display: flex;
    margin-bottom: 1rem;
}

.video-details span {
    margin-right: 1rem;
}

.video-summary {
    margin-bottom: 1rem;
}

.video-buttons button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.fullscreen-btn {
    background-color: #a57;
    color: #fff;
}

.share-btn {
    background-color: #ccc;
}

.recommend-section {
    margin: 1rem 1rem 2rem;
}

.recommend-movies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 18%;
}

.movie img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.movie-info {
    text-align: center;
}

.movie-info h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.movie-info span {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.movie-summary {
    font-size: 1rem;
}

.footer {
    background-color:#222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer span {
    font-size: 1.2rem;
}

.links a {
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
} 